/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@400;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Coming+Soon&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

:root{
    --primary-color: #93c5fd;
    --body-font: 'Open Sans', sans-serif;
}
/*smooth scroll*/
.scroll-container {
  width: 350px;
  height: 200px;
  overflow-y: hidden;
  scroll-behavior: smooth;
}

body{
    /* font-family:'Bad Script', cursive; */
    /* font-family: 'Sacramento', cursive; */
    font-family: 'Bona Nova SC', serif;
    margin-left :20px;
    font-weight: 700;
    box-sizing: border-box;
    }

/* .sidebar {
    height: 100%;
    width: 80px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:slategray;
    overflow-x: hidden;
    padding-top: 16px;
  }
  
  .sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    
  } */
   
 
  .navbar {
    /* background: black; */
    padding: 1rem;
}
.navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
    padding: 10px;
}
.navbar li {
    margin: 0 1.5rem;
}
.navbar a {
    text-decoration: none;
    color: black;
    font-size: 3rem;
    font-family:'Overlock',cursive;
   font-weight: bold;
   word-spacing: 1.5rem;
}
  

.main{
    /* margin-left: 80px; */
    margin-left: -17px;
    color:black;
    font-weight: bolder;
    font-size: xxx-large;
    padding: 20px 20px;
    text-align: center;
    margin-top: 40px;
}
.space{
  padding: 100px;
}
.sub-heading {
  display: block;
  margin-top: -12px;
  margin-left: 130px;
  font-size: xx-large;
  text-align: center;
  /* font-family: 'Overlock', cursive;   */
  font-family: 'Coming Soon', serif;
}

.tagline{
  display: block;
  margin-left: 80px;
  font-size: xx-large;
  text-align: center;
  font-family: 'Coming Soon', serif;
}
.side-img{
    height: 50px;
    width: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-top: 40px;
    padding: auto;
    /* padding: 20px 20px; */

}
a{
  text-decoration: none;
  
}


/* .about-me{
  margin-left: 80px;
  justify-content: center;
  text-align-last: justify;

} */

.img-pos{
  display: block;
}

.section{
  text-align: justify;
}

.about-me {
  display: flex;
  align-items: center;
  text-align-last:justify ;
  justify-content: center;
  margin-top: 40px;

}
.me-img {
  width: 103%;
  border-radius: 70%;
  border: 1px solid #000;
  margin-top: 40px;
}
.me-text{
  font-weight: bolder;
}
/* .text {
  text-align: left;
  padding-left: 20px;
} */
.newimg{
  height: 69px;
  margin:-3.9px;
}
.arrow{
  width: 50px;
}

.footer{
  padding: 4rem 0rem;
  text-align: center;
  color:white;
  border-top-right-radius: 1rem;
}

.footer .link{
  color: white;
}
.footer .footer-header {

  font-weight: bold;
  font-size: large;
    font-size: xx-large;
    color: black;
    font-family: 'Overlock', cursive;

}
.footer ul{
  display: inline-flex;
}

.footer img{
  width: 60px;
  padding: 7px;

}
#particles-js{
    
    background:white;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
    height:100%;
    width: 100%;
}
