/* General Styles */
body, html {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }
  
element {
    background: black;
  }
  /* Navbar */
  .navbar {
    position: fixed;
    top: 0;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.8); */
    /* color: white; */
    display: flex;
    justify-content: center;
    z-index: 1000;
    padding: 28px 0;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin: 0 15px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .navbar ul li a:hover, .navbar ul li a.active {
    background-color: #00c6ff;
    border-radius: 20px;
    color: black;
  }
  
  /* Sections */
  .container {
    margin-top: 60px; /* Offset for fixed navbar */
  }
  
  .section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    transition: background 0.3s ease-in-out;
  }
  
  #home {
    /* background: linear-gradient(135deg, #ff7eb3, #ff758c); */
    background: black;
  }
  .main{
    margin-left: 80px;
    color:whitesmoke;
    font-weight: bolder;
    font-size: xxx-large;
    padding: 20px 20px;
    text-align: center;
    margin-top: 40px;
}
.sub-heading {
    display: block;
    margin-left: 80px;
    font-size: xx-large;
    text-align: center;
    font-family: 'Overlock', cursive;  
  }
  
  #about {
    /* background: linear-gradient(135deg, #6a11cb, #2575fc); */
  }
  
  #projects {
    /* background: linear-gradient(135deg, #ff4e50, #f9d423); */
  }
  
  #contact {
    /* background: linear-gradient(135deg, #42e695, #3bb2b8); */
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .navbar ul {
      flex-direction: column;
      align-items: center;
    }
  
    .navbar ul li {
      margin: 10px 0;
    }
  }
  .footer{
    padding: 4rem 0rem;
    text-align: center;
    color:white;
    border-top-right-radius: 1rem;
  }
  
  .footer .link{
    color: white;
  }
  .footer .footer-header {
  
    font-weight: bold;
    font-size: large;
      font-size: xx-large;
      color: black;
  
  }
  .footer ul{
    display: inline-flex;
  }
  
  .footer img{
    width: 60px;
    padding: 7px;
  
  }