@import url('https://fonts.googleapis.com/css2?family=Overlock&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root{
  /* --box-col: #fde9df; */
  --box-col: #fffdfb;
}

body {
  /* font: normal 16px/1.5 "Overlock", cursive; */
  overflow-x: hidden;
  padding-bottom: 50px;
}  

/* INTRO SECTION
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.intro {
  /* background: var(--box-color); */
  padding: 100px 0;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  text-align: center;
  font: normal 16px/1.5 "Overlock",cursive; 

}

h1 {
  font-size: 2.5rem;
  font: normal 16px/1.5 "Overlock",cursive; 

}
.text{
  text-align: center;
  font-size: 1.1rem;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  text-align-last: center;
  -moz-text-align-last: center;

}
.year-right{
  text-align: left;
  padding: 2px 2px 2px;
  font-size: 1rem;


}
.year-left{
  text-align: right;
  padding: 2px 2px 2px;
  font-size: 1rem;

}

.times {
  display: inline-block;
  padding: 4px 6px;
  
}
.direction-l .time-wrapper {
  float: left;
}

.direction-r .time-wrapper {
  float: right;
}
/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
  /* background: var(--BG-color); */
  background: #ffd6a4;
  padding: 50px 0;
  font: normal 16px/1.5 "Overlock",cursive; 

}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 1px;
  margin: 0 auto;
  padding-top: 50px;
  background: #000;
}


.timeline ul li::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: inherit;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 410px;
  padding: 15px;
  /* background: linear-gradient(
    70deg
    ,lightskyblue,lightskyblue, transparent)} */
    /* background:lightsteelblue; */
    background: var(--box-col);
  }

.timeline ul li div::before {
  content: '';
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent var(--box-col) transparent transparent;
}


.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent var(--box-col);
}

time {
  display: block;
  font-size: 1.45rem;
  font-weight: bold;
  margin-bottom: 8px;
  padding: 8px 8px;
  /* padding: 10px 20px; */
  background: rgb(248,248,248);
  margin-bottom: 0;
  text-align: center;
  border-top: 0ch;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background .5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: var(--box-color);
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all .5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent var #AD1457 transparent transparent;
  }
}



#meBaby{
  width: 100px;
  height: 135px;
}

.photos{
  width: 100px;
  height: auto;
}
a:visited { 
  color: var(--font-color);
}
a:hover { color: #AD1457;}
